<a href="/food/hotspot/today/pasta-des-tages">
    <img src="/food/hotspot/today/pasta-des-tages" class="w-50 mb-2 rounded"
         onerror="this.onerror=null; this.src='/images/hotspot-pasta-des-tages-default.jpg';
         this.parentNode.href='/images/hotspot-pasta-des-tages-default.jpg'"
         alt="Pasta des Tages - Hotspot">
</a>