/*Colors and definitions*/
$hotspotGreen: #5fb127;
$mensaOrange: #f49900;
$intersparGreen: #00963f;
$daMarioMagenta: #b10038;
$uniWirtPurple: #800768;
$uniPizzeriaBlue: #2336b1;
$bitsAndBytesRed: #cd2929;

$infoIconColor: #444;
$allergensColor: #c0c0c0;
$darkEmboss: 1.5px 1.5px 0px #222;

$navIconMargin: 16px;
$navIconMarginInwards: 16px;
$outerPadding: 15px;

$menuSpacing: 14px;
$menuItemSpacing: 4px;

$footerHeight: 32px;
$footerColor: rgba(0, 0, 0, 0.75);
$footerFontColor: #eceeef;

//$headingFont: $font-family-sans-serif;
$raleway: 'Raleway', sans-serif;
$headingFont: $raleway;
